{{#each this }}
 <li class="list-group-item">
    <span class="badge">{{ cards_count }}</span> <a href="#" class="list-archetype" data-id="{{ id }}">{{ name }}</a> <a href="#" class="remove-archetype" data-id="{{ id }}"></a>
 </li>
{{/each}}