<form id="search_card">
	
	<input type="text" name="card_name" id="card_name" >

</form>

<div id="card_list">
	
</div>

<div id="cube">
	
</div>

<span id="cubeId" style="display:none"><%= session[:cube_id] %></span>
