<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8">
		<div class="well bs-component">
			<form id="search_card" class="form-horizontal">
				<fieldset>
					<div class="form-group">
					      <label for="card_name" class="col-lg-2 control-label">Card Name</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" name="card_name" id="card_name">
					      </div>
					    </div>
				
				
				</fieldset>
			</form>
		</div>
		<h2>Architypes</h2>
		<ul id="architypes" class="list-group col-lg-4 col-md-4 col-sm-4">
		</ul>
	</div>
	<div id="card_list" class="col-lg-4 col-md-4 col-sm-4">
		
	</div>
</div>
<div class="row">
	<div id="cube">
	
	</div>
</div>

<span id="cubeId" style="display:none">
	<%= session[:cube_id] %>
</span>
