<form id="search_card">
	
	<input type="text" name="card_name" id="card_name" >

</form>

<div id="card_list">
	
</div>


<script>

$(document).ready(function(){
	
	$("#search_card").on('submit', function(e) {
		e.preventDefault();
		card_name = $("#card_name").val();
		$.ajax({
		  method: "GET",
		  url: "/card/search",
  		data: { card_name : card_name }
		}).done(function(response) {
			text = HandlebarsTemplates['cards/show'](JSON.parse(response));
			$("#card_list").html(text);
  	});
		
	});
	
	$("#card_list").on('click', $("a.add-card"), function(e) {
		card_name = $(e.toElement).data("id");
		cubeList = [];
		if (localStorage.cube_list != undefined)
			cubeList = JSON.parse(localStorage.cube_list);
		
		uniqueness = true;
		cubeList.forEach(function(item) {
			uniqueness = uniqueness && item != card_name;
		});
		
		if (uniqueness) 
			cubeList.push(card_name);
		
		localStorage.setItem("cube_list", JSON.stringify(cubeList));
	});
	
});


</script>